body{
	background-color : #ECF0F1;
}
.sub-wrapper{
	width:800px; 
	margin-left: auto;
	margin-right: auto;
}
.element-border{
	border : 1px solid #BDC3C7; 
	padding:10px 10px 10px 17px; 
	margin-top:50px; 
	min-height:100px; 
	width:800px; 
	background:white;
	margin-left: auto;
	margin-right: auto;
}

.image{
	display:inline;
}

.image img{
	border : 1px solid black; 
	display:inline-block;
	height:180px;
	width:125px;
}

.data-container{
	display:inline-block; 
	vertical-align: top;  
	margin-left:40px; 
	max-width:620px;
}

.anime-title{
	margin:0px; 
	display:inline-block;
	max-width:400px;
}

.anime-title:first-child{
	font-size:22px;
}

.table-header{
	padding-top:10px;
	font-size:16px;
}

.table-data{
	overflow:auto; 
	height:100px;
	font-size:14.994px;
}

.table-data td{
	padding-top:8px;
}

.fansub-head{
	width:112px;
}

.fansub{
	width:114px;
}

.quality-head{
	width:78px;
}

.quality{
	width:82px;
}

.size-head{
	width:96px;
}

.file-size{
	width:98px;
}

.seed-head{
	width:67px;
}

.seed{
	width:71px;
	color:green;
}

.leach-head{
	width:75px;
}

.leach{
	width:75px;
	color:red;
}

.ep-number{
	padding-top:10px;
	font-size:16px
}

	/*navigation default props*/
.ep-navigation{
	float:right; 
	margin-right : -40px; 
}

/*navigation components default props*/
.ep-navigation ul {
	background: #2C3E50;
	color: #ffffff;
	vertical-align: top;
	border-radius: 6px;
	box-shadow: none;
	text-decoration:none;
}

/*navigation mouseover props*/
.ep-navigation ul li > a:hover,
.ep-navigation ul li > span:hover,
.ep-navigation ul li > a:focus,
.ep-navigation ul li > span:focus {
	background-color: #4E6174;
	border-color: #1abc9c;
	color: #ffffff;
}

/* arrow props*/
.fui-arrow-right,
.fui-arrow-left{
	text-decoration:none;
}

/*torrent and magnet buttons props*/
.btn.btn-primary {  
	padding: 0px 12px 2px;
	background-color: #0F6E5C;
}

/*mouseover torrent and magnet buttons props*/

.btn.btn-primary:hover,
.btn.btn-primary:focus{
	background-color: #16a085;
}

/*click torrent and magnet buttons props*/
.btn.btn-primary:active {
	background-color: #16a085;
}

.subscribe{
	width:200px;
	margin-right:-28px;
	float:right;
	border-radius:0;
	background-color:#c0392b !important;
	opacity:0.7;
}

.subscribe:hover{
	background-color:#e74c3c !important;
	opacity:1;
}
