body{
	background-color : #ECF0F1;
	margin-top:100px;
}
.sub-wrapper{
	width:800px; 
	margin-left: auto;
	margin-right: auto;
	height:229px;
}
.element-border{
	border : 1px solid #BDC3C7; 
	padding:10px 10px 10px 17px; 
	margin-top:0; 
	min-height:100px; 
	width:800px; 
	background:white;
	margin-left: auto;
	margin-right: auto;
}

.image{
	display:inline;
}

.image img{
	border : 1px solid black; 
	display:inline-block;
	height:160px;
	width:125px;
}

.data-container{
	display:inline-block; 
	vertical-align: top;  
	margin-left:40px; 
	max-width:620px;
}

.anime-title{
	margin:0px; 
	display:inline-block;
	max-width:400px;
}

.anime-title:first-child{
	font-size:22px;
}

.table-header{
	padding-top:0px;
	font-size:16px;
}

.table-data{
	overflow:auto; 
	height:100px;
	font-size:14.994px;
}

.table-data td{
	padding-top:8px;
}

.fansub-head{
	width:112px;
}

.fansub{
	width:114px;
}

.quality-head{
	width:78px;
}

.quality{
	width:82px;
}

.size-head{
	width:96px;
}

.file-size{
	width:98px;
}

.seed-head{
	width:67px;
}

.seed{
	width:71px;
	color:green;
}

.leach-head{
	width:75px;
}

.leach{
	width:75px;
	color:red;
}

.ep-number{
	padding-top:10px;
	font-size:16px
}

/*navigation default props*/
.nav-bar{
	position: absolute;
    margin-top: 15px;
    margin-left: 620px;
}

.ep-navigation ul .ep-number{
    max-width: 111px;
    min-width: 111px;
    text-align: center;
}

/*navigation components default props*/
.nav-bar ul {
	background: #2C3E50 !important;
	color: #ffffff !important;
	vertical-align: top !important;
	border-radius: 6px !important;
	box-shadow: none !important;
	text-decoration:none !important;
}

/*navigation mouseover props*/
.nav-bar ul li > a:hover,
.nav-bar ul li > span:hover,
.nav-bar ul li > a:focus,
.nav-bar ul li > span:focus {
	background-color: #4E6174 !important;
	border-color: #1abc9c !important;
	color: #ffffff !important;
}

/* arrow props*/
.nav-arrow{
	text-decoration:none !important;
}

/*torrent and magnet buttons props*/
.magtor {  
	padding: 0px 12px 2px !important;
	background-color: #0F6E5C !important;
}

/*mouseover torrent and magnet buttons props*/

.magtor:hover,
.magtor:focus{
	background-color: #16a085 !important;
}

/*click torrent and magnet buttons props*/
.magtor:active {
	background-color: #16a085 !important;
}

.subscribe{
	width:128px;
	margin-right:-28px;
	float:right;
	border-radius:0;
	background-color:#c0392b !important;
	opacity:0.7;
	height:25px;
	padding:0px;
}

.subscribe:hover{
	background-color:#e74c3c !important;
	opacity:1;
}

#inline1{
	width:380px;
	display:none;
}

#fansub-wrapper{
	position:inline-block;
	width:50%;
	float:left;
}

#quality-wrapper{
	position:inline-block;
	width:50%;
	float:left;
}

#email-wrapper{
	position:inline-block;
	margin-top : 200px;
	width:100%;
}

#email-box{
	height:10px;
}

.subscribe-final{
	position:inline-block;
	width:90px !important;
	float:right;
	background-color:#c0392b !important;
	height:29px;
	padding:0px;
	margin-right:15px;
}

.subscribe-final:hover{
	background-color:#e74c3c !important;
}

#alert-error-private{
	display:none;
}

#alert-success-private{
	height:20px;
	width:698px;
	padding:3px 0 0 0;
	display:inline-block;
	margin-bottom:0;
}